################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.git
/TitanControl/bin
/TitanControl/obj
/TitanControl.WebAPI/bin
/TitanControl.WebAPI/obj
/TitanControl.Logging/bin
/TitanControl.Logging/obj
/TitanControl/TitanControl.csproj.user
